/* Para comentar en CSS */
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097A7;
    --gris: #757575;

    --fuente-principal: 3.8rem;
}

/* Esto nos permite que se adapte a diferentes tamaños de paginas web*/
html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /* 1 rem = 10px */
}
/* Esto nos permite que se adapte a diferentes tamaños de paginas web */

.titulo {
    text-align: center;
    font-size: 3.8rem; /*Se puede usar: var(--fuente-principal); */
    /* color: var(--primario); */
    font-family: 'Krub', sans-serif;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    width: 120rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

.navegacion-principal{
    background-color: var(--secundario);
}